<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="president" class="org.example.spring4.domain.Person">
        <constructor-arg value="Chrystal"/>
        <constructor-arg value="Havoc"/>
        <constructor-arg value="chavocr@yahoo.com"/>
        <constructor-arg value="Mymm"/>
    </bean>

    <bean id="vicePresident" class="org.example.spring4.domain.Person">
        <constructor-arg value="Halley"/>
        <constructor-arg value="Gadaud"/>
        <constructor-arg value="hgadaud9@sohu.com"/>
        <constructor-arg value="Oyope"/>
    </bean>

    <bean id="secretary" class="org.example.spring4.domain.Person">
        <constructor-arg value="Kirbie"/>
        <constructor-arg value="Wrettum"/>
        <constructor-arg value="kwrettumj@slideshare.net"/>
        <constructor-arg value="Browsetype"/>
    </bean>

</beans>
